h1 {
    text-align: center;
}

#first {
    border: solid 3px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }
  
  #second {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 20%;
    border: 3px solid;
    }
  
  #third {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 30%;
    border: solid 3px;
  }